body {
margin: 0;
font-family: 'Arial', sans-serif;
}
li{
list-style:none;
}
table {
width: 95%;
margin-top:16px;
}
.error-message-container{
margin-top:12px;
}
.error-message-container ul{
list-style:none;
}
.success-message-container,
.login-message-container{
text-align:center;
padding:4px;
border:solid 2px green;
background-color:lightgreen;
}
.top-container-area{
position:relative;
background-color:lightgreen;
margin:40px;
height:500px;
border-radius:12px;
}
.top-container-area h1{
position:absolute;
top:25%;
left:22%;
display:inline-block;
text-align:center;
background-color: white;
padding:80px;
border-radius:12px;
}
.search-container{
text-align:center;
margin-bottom:12px;
}
.custom-img{
max-width:99%;
}
.post-container{
text-align:center;
margin-bottom:12px;
}
.form-group{
margin:40px 0 40px 0;
display: flex;
flex-direction: column;
text-align:left;
width:90%;
}
.form-control{
width:90%;
}
.header-container{
display:flex;
justify-content:space-between;
border-bottom:black 4px solid;
align-items:center;
}
.logo-container{
margin-bottom:12px;
}
.menu-container ul{
display:flex;
}
.menu-container ul li{
margin-right:8px;
}
.menu-container a{
text-decoration:none;
color:black;
}
.login-top-container,
.register-top-container,
.contact-top-container,
.postedit-container,
.commentedit-container{
text-align:center;
}
.login-top-container h1,
.register-top-container h1,
.contact-top-container h1,
.postedit-container h1,
.commentedit-container h1{
background-color:lightgreen;
margin-top:12px;
}
.login-top-container p,
.register-top-container p,
.contact-top-container p,
.postedit-container p{
margin-top:12px;
font-weight:bold;
}
.success-message-container,
.login-message-container{
text-align:center;
padding:4px;
border:solid 2px green;
background-color:lightgreen;
}
.login-user-name{
display:flex;
justify-content:flex-end;
margin:12px 12px 0 0;
}
.user-name-container{
text-align:center;
margin-top:12px;
}
.exposition-container{
text-align:center;
}
.button-container{
text-align:center;
margin-bottom:12px;
}
.new-register-link{
margin-bottom:12px;
}
.return-back-container{
text-align:center
}
.back-button-container{
margin-bottom:8px;
display:inline-block
}
.index-post-container,
.show-post-container,
.show-comment-container,
.mycomment-container,
.mypost-container{
background-color:lightgray;
padding:12px;
border-radius:8px;
margin:12px;
}
.title-container{
display:inline-block;
}
.body-container{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-top:12px;
}
.body-container img{
height:300px;
}
.comment-container{
margin-top:12px;
}
.badge {
display: inline-block;
color: #fff;
padding: 0.2rem 0.6rem;
margin-bottom:8px;
border-radius: 1rem;
font-size: 0.6rem;
text-align: center;
white-space: nowrap;
background-color: green;
}
.Individual-container h2{
text-align:center;
}
.button-comprehensive{
display:flex;
justify-content:center;
margin:12px;
}
.edit-button-container{
display:inline-block;
text-align:right;
margin-right:12px;
}